body{
  font-family:  Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar{
  background-color: black;
  color: rgb(152, 152, 152);
  margin: 0;
  text-align: center;
  z-index: 100;
  backdrop-filter: blur(25px);
}
.navbar li{
  font-size: 1vw;
}
#navbar{
  padding-left: 22%;
}
#navback{
  background-color: rgb(47, 42, 42);
  width: 100%;
  height: 40px;
}
img{
  width: 100%;
}
.logo{
  position: absolute;
  display: inline;
  width: 15px;
  height: 17px;
}
.first{
  position: relative;
  justify-content: space-between;


}
.h1 p{
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 4vw;
  color: black;
  margin: 0;
}
.h2 p{
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 2vw;
  color: black;
  margin: 0;
}
.hh1 p{
  position: absolute;
  align-content: baseline;
  top: 2%;
  width: 100%;
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  color: black;
  margin: 0;
}
.hh2 p{
  position: absolute;
  top: 12%;
  width: 100%;
  text-align: center;
  font-size: 2vw;
  color: black;
  margin: 0;
}
.btn{
  position: absolute;
  top: 25%;
  left: 41%;
  text-align: center;
  
}
.bbtn{
  position: absolute;
  top: 26%;
  left: 53%;
  text-align: center;
}

.btn a{
  text-decoration: none;
  color: rgb(10, 161, 174);
  font-size: 1.2vw;
  background-color: rgba(13, 101, 223, 0);
  border: 1px solid rgb(13, 100, 223);
  border-radius: 25px;
  padding: 10px 15px;
}
.bbtn a{
  text-decoration: none;
  color: rgb(10, 161, 174);
  font-size: 1.2vw;
  background-color: rgba(13, 101, 223, 0);
  border: 1px solid rgb(13, 100, 223);
  border-radius: 25px;
  padding: 9px 14px;
}
.bbtn a:hover{
  background-color: rgb(13, 100, 223);
  border: none;
  color: white;
}
.btn a:hover{
  background-color: rgb(13, 100, 223);
  border: none;
  color: white;
}
.second{
  position: relative;

}
.grid{
  display: flex;
  background-color: white;
  flex: 50%;
}
.g1{
  flex: 50%;
  background-color: white;
  padding: 20px;
  height: auto;
}
.g2{
  flex: 50%;
  background-color: white;
  padding: 20px;
  height: auto;
}
.grid2{
  display: flex;
  background-color: white;
}
/* Scroll image */
.scroll{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 600px;
  display: flex;
  overflow: auto;
  transition-delay: 0.5s;
}
div.scroll {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  height: 80%;
  width: 100%;
  
}

div.scroll img {
  padding: 10px;
  height: 97%;
  width: 100%;
}
.footer{
  top: 10%;
}
/* Footer */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(249, 250, 252);
}
.footer div{
  background-color: rgb(249, 250, 252);
  color: rgb(128, 127, 127);
  font-size: 14px;
  font-family: sans-serif;
  width: 1000px;
  height: 100%;
}
@media screen and (max-width:430px) {
  .navbar{
      background-color: rgb(0, 0, 0);
      color: rgb(152, 152, 152);
      margin: 0;
      z-index: 100;
      font-size: 13px;
  }
  #navbar{
      padding-left: 10px;
    }
  .h1 p{
      font-size: 10vw;
    }
  .h2 p{
      font-size: 4vw;
    }
  .btn a{
    display: flex;
    justify-content: space-between;
    padding: 5px 7px;
  }
.bbtn a{
    padding: 4px 6px;
}
.navbar-item{
  font-size: 10px;
}
}
